@model RealEstateWebUI.Dtos.EmployeeDtos.CreateEmployeeDto

@{
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">New Employee</h6>
                <form method="post">
                    <label>Employee Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <br />
                    <label>Employee Title</label>
                    <input asp-for="Title" class="form-control" />
                    <br />
                    <label>Employee Mail</label>
                    <input type="text" asp-for="Mail" class="form-control" />
                    <br />
                    <label>Employee PhoneNumber</label>
                    <input type="text" asp-for="PhoneNumber" class="form-control" />
                    <br />
                    <label>Employee ImageUrl</label>
                    <input type="text" asp-for="ImageUrl" class="form-control" />
                    <br />
                    <button class="btn btn-success">Add Employee</button>
                </form>
            </div>
        </div>
    </div>
</div>


