@model List<RealEstateWebUI.Dtos.ServicesDto.ResultServiceDto>

@{
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Service Table</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Service Name</th>
                        <th scope="col">Service Status</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.ServiceId</th>
                            <td>@item.ServiceName</td>
                            <td>@item.ServiceStatus</td>
                            <td><a class="btn btn-danger" href="/Service/DeleteService/@item.ServiceId">Delete</a></td>
                            <td><a class="btn btn-warning" href="/Service/UpdateService/@item.ServiceId">Update</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-success" href="/Service/CreateService">Create Service</a>
        </div>
    </div>
</div>
