@model List<RealEstateWebUI.Dtos.ProductDtos.ResultProductDto>

@{
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Product Table</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Title</th>
                        <th scope="col">Product Price</th>
                        <th scope="col">Category Name</th>
                        <th scope="col">Deal Of Day</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.ProductId</th>
                            <td>@item.Title</td>
                            <td>@item.Price</td>
                            <td>@item.CategoryName</td>
                            <td>
                                @if (item.DealOfTheDay)
                                {
                                    <a class="btn btn-warning" href="/Product/UpdateProduct/@item.ProductId">Set DeActive</a>
                                }
                                else
                                {
                                    <a class="btn btn-warning" href="/Product/ProductDetails/@item.ProductId">Set Active</a>
                                }
                            </td>
                            <td><a class="btn btn-danger" href="/Product/DeleteProduct/@item.ProductId">Delete</a></td>
                            <td><a class="btn btn-warning" href="/Product/UpdateProduct/@item.ProductId">Update</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-success" href="/Product/CreateProduct">Create Product</a>
        </div>
    </div>
</div>
